# Files in base directory
*.*~
\#*\#
.juliahistory

# Files in code directories
code/*/.*~
code/*/\#*\#
code/*/.juliahistory

# Files in model directories
models/*/.*~
models/*/\#*\#
models/*/.juliahistory

# # With git v1.8+
# **/**/*.*~
# **/**/\#*\#
# **/**/.juliahistory
