# # Files in base directory
# *.*~
# \#*\#
# .juliahistory
# 
# # Files in src directory
# src/*/.*~
# src/*/\#*\#
# src/*/.juliahistory
# 
# # Data
# *.h5
*.mat

# With git v1.8+
**/**/*.*~
**/**/\#*\#
**/**/.juliahistory

# Documenter.jl related
docs/build
docs/site
