# # Files in base directory
# *.*~
# \#*\#
# .juliahistory
#
# # Files in src directory
# src/*/.*~
# src/*/\#*\#
# src/*/.juliahistory


# Data
*.mat
*core.[0-9]*
save/input_data/
save/output_data/

# With git v1.8+
**/**/*.*~
**/**/\#*\#
**/**/.juliahistory

# Documenter.jl related
docs/build
docs/site
docs/.documenter
docs/.documenter.pub